/* fix html5 tag for ie */
article, aside, dialog, footer, header, section, nav, figure, menu {
    display: block;
}
/* end fix html5 tag for ie */

/* root em */
html {
    font-size: 10px;
}
/* end root em */

/* base */
a {
    text-decoration: none;
}
a:link {
    color: #015fb6;
}
a:visited {
    color: #551a8b;
}
a:hover {
    color: #ff5f3e;
}
body {
    background-color: #e6e6e6;
}
/* end base */

/* common */
.body {
    background-color: #fafafa;
    font-family: Arial;
}
/* end common */

/* page */
header {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
header, .logo, nav {
    height: 45px;
    line-height: 45px;
}
.logo {
    text-indent: -4em;
    background: url('../image/logo.png') no-repeat center center;
    -webkit-background-size: 45px 45px;
    background-size: 45px 45px;
}
nav {
    background: #59a1e9;
    background: -webkit-linear-gradient(top,#64a6ea,#4b98e3);
    background: -moz-linear-gradient(top,#64a6ea,#4b98e3);
    background: -ms-linear-gradient(top,#64a6ea,#4b98e3);
}
nav a {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}
nav a:hover {
    background-color: #3989d8;
    color: #fff;
}

.main-article {
    /*height: 240px;*/
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.main-articleMetaInfo {
    font-size: 1.2rem;
}
.main-articleImage {
    width: 100%;
    height: 150px;
    background-color: #eee;
}


.sidebar-search {
    width: 262px;
    font-size: 1.4rem;
    border: 1px solid #eee;
    height: 20px;
    line-height: 20px;
    padding: 0.1em;
}
.sidebar-categoryList {
    position: relative;
    margin-top: 3em;
}
.article-listTitle {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: -2em;
    border-bottom: 1px solid #d9d9db;
    color: #333;
    font-weight: bold;
    font-size: 1.4rem;
    height: 1.8rem;
}
.article-list {
    color: #4c4c4c;
    list-style-type: disc;
    list-style-position: inside;
}
.article-list a{
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px dashed #d1d1d1;
}

footer {
    text-align: center;
}
.footer-links {
    margin-top: 10px;
}
/* end page */